<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Login</title>
    <script src="../../Scripts/jquery-1.9.1.js" type="text/javascript"></script>

    <!-- For the JavaScript APIs for Office, go to https://aka.ms/officejs-overview to learn more. -->
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>

    <!-- To enable offline debugging using a local reference to Office.js, use: -->
    <!-- <script src="Scripts/Office/MicrosoftAjax.js" type="text/javascript"></script>  -->
    <!-- <script src="Scripts/Office/1/office.js" type="text/javascript"></script>  -->

    <script src="EmailSync.js" type="text/javascript"></script>
    <link href="EmailSync.css" type="text/css" rel="stylesheet"/>

    <!-- For the Office UI Fabric, go to https://aka.ms/office-ui-fabric to learn more. -->
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js"></script>

    <!-- To enable the offline use of Office UI Fabric, use: -->
    <!-- link rel="stylesheet" href="Content/fabric.min.css" -->
    <!-- link rel="stylesheet" href="Content/fabric.components.min.css" -->
</head>
<body>
    <div id="content-header">
        <div class="padding">
            <img src="..\..\Images\fluxx_32x32.png" />
            <button id="button-signin" class="ms-Button ms-Button--primary"><span class="ms-Button-label">Sync With Fluxx</span></button>
        </div>

        <div class="ms-SearchBox ms-SearchBox--commandBar" style="width:100%;">
            <input class="ms-SearchBox-field" type="text" value="">
            <label class="ms-SearchBox-label">
                <i class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i>
                <span class="ms-SearchBox-text">Search</span>
            </label>
            <div class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel">
                <button class="ms-CommandButton-button">
                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Clear"></i></span>
                    <span class="ms-CommandButton-label"></span>
                </button>
            </div>
            <div class="ms-CommandButton ms-SearchBox-exit ms-CommandButton--noLabel">
                <button class="ms-CommandButton-button">
                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--ChromeBack"></i></span>
                    <span class="ms-CommandButton-label"></span>
                </button>
            </div>
            <div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
                <button class="ms-CommandButton-button">
                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span>
                    <span class="ms-CommandButton-label"></span>
                </button>
            </div>
        </div>
    </div>


    <div id="content-main" class="ms-Grid">
        
        <div class="ms-Grid">
            <div class="ms-Grid-row">
                <label class="ms-Label ms-font-m-plus" style="padding:0px;">Amy Vollanova</label>
            </div>
            <div class="ms-Grid-row">
                <label class="ms-Label ms-font-m" style="padding:0px;">San Francisco, CA, USA</label>
            </div>
            <div class="ms-Grid-row">
                <label class="ms-Label ms-font-m" style="padding:0px;">ABC Organizarion</label>
            </div>
            <div class="ms-Grid-row" style="margin-top:10px;">

                <button class="accordion ms-font-m-plus">Related Grants</button>
                <div class="panel">
                   
                    <ul>
                        <li class="ms-ListItem ms-ListItem--image" style="margin-left:5px; padding-left:0px;" tabindex="0">
                       
                            <span class="ms-ListItem-primaryText">ABC Grant</span>
                            <span class="ms-ListItem-secondaryText">G-1234-1234</span>

                            <div class="ms-ListItem-actions">
                                <div class="ms-ListItem-action">
                                    <i class="ms-Icon ms-Icon--Mail"></i>
                                </div>
                                <div class="ms-ListItem-action">
                                    <i class="ms-Icon ms-Icon--Delete"></i>
                                </div>
                                <div class="ms-ListItem-action">
                                    <i class="ms-Icon ms-Icon--Flag"></i>
                                </div>
                                <div class="ms-ListItem-action">
                                    <i class="ms-Icon ms-Icon--Pinned"></i>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <button class="accordion ms-font-m-plus">Related Requests</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

            </div>
        </div>

    </div>

    <script type="text/javascript">

        // -------
        var SearchBoxElements = document.querySelectorAll(".ms-SearchBox");
        for (var i = 0; i < SearchBoxElements.length; i++) {
            new fabric['SearchBox'](SearchBoxElements[i]);
        }


        // --------
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }

        //--------
        var ListItemElements = document.querySelectorAll(".ms-ListItem");
        for (var i = 0; i < ListItemElements.length; i++) {
            new fabric['ListItem'](ListItemElements[i]);
        }

    </script>

</body>
</html>
