<li class="ms-ListItem ms-ListItem--image" style="padding:5px;" tabindex="0">
    <span id="item-title" class="ms-ListItem-primaryText">ABC Grant</span>
    <span id="item-subtitle" class="ms-ListItem-secondaryText">G-1234-1234</span>
    <div class="ms-ListItem-actions">
        <div class="ms-ListItem-action">
            <i class="ms-Icon ms-Icon--Mail"></i>
        </div>
        <div class="ms-ListItem-action">
            <i class="ms-Icon ms-Icon--BulletedList"></i>
        </div>
    </div>
</li>